/* skill shine effect */
.box {
  position: relative;
  overflow: hidden;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 0.5s;
}

.box:hover:before {
  left: 150px;
  background: rgba(255, 255, 255, 0.2);
}
