@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --color-accent: theme(colors.cyan.400);
    --color-bg: theme(colors.cyan.200);
    --color-white: theme(colors.cyan.50);
    --color-black: theme(colors.zinc.900);

    --color-red: theme(colors.red.400);
    --color-green: theme(colors.green.400);
    --color-yellow: theme(colors.yellow.400);
    --color-purple: theme(colors.purple.400);
  }

  .timeline-h3 {
    @apply text-base font-bold uppercase cursor-pointer sm:text-lg md:text-xl;
  }
  .timeline-h4 {
    @apply text-sm italic font-light cursor-pointer sm:text-lg text-stone-400 md:text-xl;
  }
  .timeline-icon {
    @apply transition-all bg-zinc-800 sm:scale-110 md:scale-125;
    box-shadow: 0 0 0 4px var(--color-white);
  }
  .timeline-icon svg {
    @apply scale-110 sm:scale-125 md:scale-150;
  }

  .timeline-date {
    @apply capitalize sm:mx-3 md:mx-5;
  }

  /* github corner */
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  @media (max-width: 500px) {
    .github-corner:hover .octo-arm {
      animation: none;
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
